.App {
  text-align: center;
  display: flex;

  padding: 50px;
  height: calc(100vh - 170px);
}

.Controls {
  height: 50px;
  padding: 10px;
  padding-left: 100px;
}

.PlayButton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 35px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 17px 0 17px 35px;
}

.PlayButton.pause {
  border-style: double;
  border-width: 0px 0 0px 35px;
}

.PlayButton:hover {
  border-color: transparent transparent transparent red;
}
.PlayButton:focus {
  outline: none;
}

.Loop {
  padding: 10px;
  margin: auto;
  background-color: rgb(227, 227, 227);
  color: white;
  text-align: left;
}

.Loop.active {
    background-color: black;
}

.Loop:hover {
    background-color: rgb(97, 99, 90);
    cursor: pointer;
  }

.LoopPanel {
  width: 50%;
  height: 100%;
  margin: 5px;
}

.GridPanel {
  padding: 10px;
  margin: 5px;
  height: 100%;
  border: 1.5px solid #ccc!important;
  border-radius: 10px;

  display: grid;
  justify-items: space-evenly;
  grid-template-columns: calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px) calc(25% - 7.5px);
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.GridPanel div::before {
  content: "";
  padding-bottom: 100%;
  display: inline-block;
  vertical-align: top;
}

.Grid {
  background-color: rgb(227, 227, 227);
}
.Grid.active {
  background-color: red;
}

.GridLoopMarker {
  display: inline-block;
  width: 20px;
  height: 20px;
}
