.App {
  text-align: center;
  display: flex;

  padding: 50px;
  height: calc(100vh - 170px);
}

.Controls {
  height: 50px;
  padding: 10px;
  padding-left: 100px;
  padding-bottom: 30px;
}

.PlayButton {
  border: 0;
  background: transparent;
  box-sizing: border-box;
  width: 0;
  height: 35px;

  border-color: transparent transparent transparent #202020;
  transition: 100ms all ease;
  cursor: pointer;

  border-style: solid;
  border-width: 17px 0 17px 35px;
}

.PlayButton.pause {
  border-style: double;
  border-width: 0px 0 0px 35px;
}

.PlayButton:hover {
  border-color: transparent transparent transparent red;
}
.PlayButton:focus {
  outline: none;
}

.Loop {
  padding: 10px;
  margin: auto;
  background-color: rgb(227, 227, 227);
  text-align: left;
}

.Loop.active {
    /* background-color: black; */
}

.Loop:hover {
    background-color: rgb(97, 99, 90);
    cursor: pointer;
  }

.LoopPanel {
  height: 100%;
  padding: 10px;
}

.GridPanel {
  display: grid;
  grid-template-columns: 23% 23% 23% 23%;
  grid-template-rows: 23% 23% 23% 23%;
  grid-gap: 0.5%;
  padding: 0.5%;
  background-color: #fff;
  color: #444;
}

.GridPanel div::before {
  /* content: ""; */
}

.Grid {
  background-color: rgb(227, 227, 227);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}
.Grid.active {
  background-color: red;
}

.GridLoopMarker {
  height: 0;
  width: 45%;
  padding-top: 45%;
  margin: 2.5%;
}

.GridLoopMarker.half {
  height: 0;
  width: 20%;
  padding-top: 20%;
  margin-top: 15%;
}
